/* 
00E6AC
07D29E

0CC0C0
00B3B3 */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  margin: 0 auto;
  width: 70%;
}

.nav-menu{
  padding: 1% 0;
  background-color: #0c8b8b;
}

.nav-h1{
  margin: 0;
}

.logo{
  margin: 0;
  width: 35%;
  cursor: pointer;
}

.menu-list{
  margin: 0;
  padding: 0;
  width: 35%;
  font-weight: 900;
}

.menu-list a{
  color: #FFF;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.menu-list a:hover{
  color: #0CC0C0;
}

.menu-list li{
  list-style: none;
}

.data-graphic{

}

.data-print{
  flex-direction: column;
  align-items: flex-end;
}

.order-injuries{
  margin: 0 0 10%;
}

.table-data{
  border-collapse: collapse;
}

.td-type{
  text-align: center;
  font-weight: 900;
  width: 8vw;
  padding: 5%;
  border: 1px solid #000;
}

.td-data{
  text-align: center;
  width: 8vw;
  padding: 5%;
  border: 1px solid #000;
}

.data-search{
  background-color: #0c8b8b;
}

.select-filter{
  margin: 0;
  padding: 0;
}

.filter-li{
  position: relative;
  list-style: none;
}

.filter-li input[type="radio"]{
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 0;
}

.filter-li label{
  width: 100px;
  height: 40px;
  margin: 10%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FFF;
  font-weight: 900;
  background-color: #0c8b8b;
  border: 1px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.filter-li label:hover{
  color: #0c8b8b;
  background-color: #FFF;
  border: 1px solid #00B3B3;
}

.filter-li input[type="radio"]:checked + label{
  color: #0c8b8b;
  background-color: #FFF;
  border: 1px solid #00B3B3;
}

.select-category{
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.select-category.hidden{
  display: none;
}

.category-li{
  position: relative;
  list-style: none;
}

.category-li input[type="radio"]{
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 0;
}

.category-li label{
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.category-li label img{
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px transparent;
  transition: 0.2s ease-in-out;
}

.category-li label img:hover{
  border-radius: 50%;
  box-shadow: 1px 1px 1px #FFF;
  display: block;
}

.category-li input[type="radio"]:checked + label img{
  border-radius: 50%;
  box-shadow: 1px 1px 1px #FFF;
  display: block;
}

.select-year{
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.select-year.hidden{
  display: none;
}

.select-year li{
  position: relative;
  list-style: none;
}

.year-li input[type="radio"]{
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 0;
}

.year-li label{
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.select-year label img{
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px transparent;
  transition: 0.2s ease-in-out;
}

.year-li label img:hover{
  border-radius: 50%;
  box-shadow: 1px 1px 1px #FFF;
  display: block;
}

.year-li input[type="radio"]:checked + label img{
  border-radius: 50%;
  box-shadow: 1px 1px 1px #FFF;
  display: block;
}

.btn-send{
  width: 100px;
  height: 100px;
  padding: 10%;
  color: #FFF;
  font-weight: 900;
  background-color: #0c8b8b;
  border: 1px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.btn-send:hover{
  color: #0c8b8b;
  background-color: #FFF;
  border: 1px solid #00B3B3;
}